body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
display: grid;
grid-template-rows: auto 1fr;
text-align: center;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container form {
    width: 75%;
    border: none;
    margin: 0 auto;
}
header {
  background-color: #161b22;
  padding: 1rem 2rem;
  border-bottom: #30363d 1px solid;
}
.login-container {
    margin: 2rem auto;
  max-width: 400px;
  max-height: 600px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.login-logo {
  text-align: center;
  margin-bottom: 30px;
}
.login-logo i {
  font-size: 48px;
  color: #e63946;
}
.btn{
    background-color: #161b22;
    color: #f8f9fa;
    border: none;
}
.btn:hover{
    background-color: #e63946;
    color: white;
}
a, .links {
  color: #af121f;
  text-decoration: none;
  font-weight: 500;
}
footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 0.875rem;
  color:#8B949E;
  background-color: #161b22;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
footer ul a {
    color: #af121f;
    text-decoration: none;
    font-weight: 500;
}
#boton{
    background-color: #161b22;
    color: #f8f9fa;
    border: none;
}
#boton:hover{
    background-color: #e63946;
    color: white;
}